<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Despesa</title>
</head>
<body>
<h1>Adicionar Despesa</h1>
<form action="#" th:action="@{/api/finance/expense}" th:object="${expense}" method="post">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" th:field="*{name}"><br>
    <label for="amount">Valor:</label>
    <input type="number" id="amount" name="amount" th:field="*{amount}"><br>
    <button type="submit">Adicionar</button>
</form>
<a href="/">Voltar</a>
</body>
</html>
>